diffusers[torch]
transformers
bitsandbytes
decord
accelerate
tensorboard
modelcards
omegaconf
einops
imageio
ftfy
numpy
huggingface_hub
matplotlib
pandas
scikit-learn
scikit-image
opencv-python
pytorchvideo
fvmd
